{
    "presets": [
        [
            "env",
            {
                "es2015": {
                    "modules": false
                },
                "targets": {
                    "uglify": true
                }
            }
        ],
        "stage-1"
    ]
}