<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <title>Nexosis Dashboard</title>

    <script>if (window.customElements) { document.write('<!--'); }</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.0.9/custom-elements.min.js"></script>
    <!-- DO NOT REMOVE THIS COMMENT, IT CONDITIONALLY CLOSES THE ONE ABOVE -->
    <link rel="stylesheet" href="https://developers.nexosis.com/themes/portals.themes.bootstrap/styles/bootstrap.published.less"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vega-tooltip@0.7.0/build/vega-tooltip.min.css" />
    <script defer src="https://use.fontawesome.com/524bb1a518.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vega@3.2.1"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vega-lite@2.3.1"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vega-embed@3.2.0"></script>
    <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.7.0"></script>

    <style>
        .line-height {
            height: 10px;
            margin: 10px;
        }

        .loading--line {
            height: 10px;
            margin: 10px;
            animation: pulse 1s infinite ease-in-out;
        }


        @keyframes pulse {
            0% {
                background-color: rgba(165, 165, 165, 0.1)
            }
            50% {
                background-color: rgba(165, 165, 165, 0.3)
            }
            100% {
                background-color: rgba(165, 165, 165, 0.1)
            }
        }
    </style>
</head>

<body>
    <div id="main"></div>
    <div class="footer-nav">
        <div class="footer-nav-top">
            <img src="https://apimgmtstfgcbs4expsd9y4r.blob.core.windows.net/content/MediaLibrary/Test/footer-nav-top.png" class="responsive">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <h4>About Us</h4>
                    <ul class="footer-nav">
                        <li>
                            <a href="https://nexosis.com/company/about">Who we are</a>
                        </li>
                        <li>
                            <a href="https://nexosis.com/company/careers">Careers</a>
                        </li>
                        <li>
                            <a href="https://content.nexosis.com/resources">Resource Library</a>
                        </li>
                        <li>
                            <a href="https://content.nexosis.com/nexosis-edu">Student Program</a>
                        </li>
                        <li>
                            <a href="https://content.nexosis.com/partnerships">Partners</a>
                        </li>
                        <li>
                            <a href="https://content.nexosis.com/blog/topic/press">Press</a>
                        </li>
                        <li>
                            <a href="https://nexosis.com/Home/Contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <h4>Developer</h4>
                    <ul class="footer-nav">
                        <li>
                            <a href="https://docs.nexosis.com">Documentation</a>
                        </li>
                        <li>
                            <a href="https://docs.nexosis.com/guides/quick-start-guides">Quickstart</a>
                        </li>
                        <li>
                            <a href="https://docs.nexosis.com/guides">Guides</a>
                        </li>
                        <li>
                            <a href="https://docs.nexosis.com/tutorials/">Tutorials</a>
                        </li>
                        <li>
                            <a href="https://docs.nexosis.com/clients">API Clients</a>
                        </li>
                        <li>
                            <a href="https://developers.nexosis.com/docs/services/98847a3fbbe64f73aa959d3cededb3af/">API Reference</a>
                        </li>
                        <li>
                            <a href="https://content.nexosis.com/release-notes">Release Notes</a>
                        </li>
                        <li>
                            <a href="https://support.nexosis.com" target="_blank">Help</a>
                        </li>
                        <li>
                            <a href="https://community.nexosis.com" target="_blank">Community</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
                    <h4>Stay in touch</h4>
                    <ul class="footer-nav social">
                        <li>
                            <a href="https://nexosis.com/Home/Contact" target="_blank">
                                <i class="fa fa-envelope fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Nexosis" target="_blank">
                                <i class="fa fa-twitter fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/9479559" target="_blank">
                                <i class="fa fa-linkedin fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/nexosis/" target="_blank">
                                <i class="fa fa-facebook fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.slideshare.net/nexosis/" target="_blank">
                                <i class="fa fa-slideshare fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Nexosis/" target="_blank">
                                <i class="fa fa-github fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
                    <h4>Newsletter</h4>
                    <div class="hs-footer">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                            hbspt.forms.create({
                                css: '',
                                portalId: '2307117',
                                formId: '5a6dab94-7f9c-4d50-a5d0-9541632e1d84'
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <ul class="footer-nav">
                        <li class="small">
                            <a href="https://nexosis.com/company/privacy">Privacy Policy</a>
                        </li>
                        <li class="small">
                            <a href="https://developers.nexosis.com/terms-of-use">Terms of Use</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="copyright text-right">
                        <p>©2018 Nexosis</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
