<!DOCTYPE html>
<html lang="en" id="html">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <title>Nexosis Dashboard</title>

    <script>if (window.customElements) { document.write('<!--'); }</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.0.9/custom-elements.min.js"></script>
    <!-- DO NOT REMOVE THIS COMMENT, IT CONDITIONALLY CLOSES THE ONE ABOVE -->
    <link rel="preload" as="style" href="https://developers.nexosis.com/themes/portals.themes.bootstrap/styles/bootstrap.published.less"
    />
    <script defer src="https://use.fontawesome.com/524bb1a518.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vega@3.2.1"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vega-lite@2.3.1"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vega-embed@3.2.0"></script>
    <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.7.0"></script>
    <link rel="preload" as="script" href="https://cdn.jsdelivr.net/npm/fetch-inject@1.9.1/dist/fetch-inject.umd.min.js">

    <style>
        .line-height {
            height: 10px;
            margin: 10px;
        }

        .loading--line {
            height: 10px;
            margin: 10px;
            animation: pulse 1s infinite ease-in-out;
        }


        @keyframes pulse {
            0% {
                background-color: rgba(165, 165, 165, 0.1)
            }
            50% {
                background-color: rgba(165, 165, 165, 0.3)
            }
            100% {
                background-color: rgba(165, 165, 165, 0.1)
            }
        }

        .save-success {
            animation-duration: 0.8s;
            animation-name: success-fade;
        }

        @keyframes success-fade {
            from {
                background-color: #dff3e9;
            }
            to {
                background-color: inherit;
            }
        }
    </style>

    <link rel="stylesheet" href="https://developers.nexosis.com/themes/portals.themes.bootstrap/styles/bootstrap.published.less"
    />
</head>

<body>
    <div id="main" class="layout">
        <div class="layout-row">
            <div class="zone-header layout">
                <!-- Start Header Section -->
                <header id="topnav">
                    <nav class="nav navbar-fixed-top" role="navigation">
                        <div class="container">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnav-collapse" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-bars fa-lg"></i>
                                </button>
                                <a href="dashboard.html" class="navbar-brand">
                                    <img src="https://nexosis.com/assets/img/logo-horizontal.png" alt="" height="50%">
                                    <div class="badge badge-danger badge-logo">API</div>
                                </a>
                            </div>
                            <!-- Toggle Elements -->
                            <div id="topnav-collapse" class="collapse navbar-collapse">
                                <ul class="nav navbar-nav navbar-left">
                                    <li>
                                        <a href="#/data">Datasets</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#/sessions">Sessions</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#/models">Models</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Developers
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="https://support.nexosis.com" target="_blank">Help</a>
                                    </li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right mr10" role="navigation" aria-label="Account menu">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Account
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="https://account.nexosis.com/apiaccount/accountstatus">Overview</a>
                                            </li>
                                            <li>
                                                <a href="https://account.nexosis.com/apiAccount/referAFriend">Refer a friend</a>
                                            </li>
                                            <li>
                                                <a href="https://developers.nexosis.com/signout">Sign Out</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </div>
                        <!-- /.container-fluid -->
                    </nav>
                </header>
                <!-- End Header Section -->
            </div>
        </div>
    </div>
    <!-- FOOTER  -->
    <div class="footer-nav">
        <div class="footer-nav-top">
            <img src="https://apimgmtstfgcbs4expsd9y4r.blob.core.windows.net/content/MediaLibrary/Test/footer-nav-top.png" class="responsive">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <h4>About Us</h4>
                    <ul class="footer-nav">
                        <li>
                            <a href="https://nexosis.com/company/about">Who we are</a>
                        </li>
                        <li>
                            <a href="https://nexosis.com/company/careers">Careers</a>
                        </li>
                        <li>
                            <a href="https://content.nexosis.com/resources">Resource Library</a>
                        </li>
                        <li>
                            <a href="https://content.nexosis.com/nexosis-edu">Student Program</a>
                        </li>
                        <li>
                            <a href="https://content.nexosis.com/partnerships">Partners</a>
                        </li>
                        <li>
                            <a href="https://content.nexosis.com/blog/topic/press">Press</a>
                        </li>
                        <li>
                            <a href="https://nexosis.com/Home/Contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <h4>Developer</h4>
                    <ul class="footer-nav">
                        <li>
                            <a href="https://docs.nexosis.com">Documentation</a>
                        </li>
                        <li>
                            <a href="https://docs.nexosis.com/guides/quick-start-guides">Quickstart</a>
                        </li>
                        <li>
                            <a href="https://docs.nexosis.com/guides">Guides</a>
                        </li>
                        <li>
                            <a href="https://docs.nexosis.com/tutorials/">Tutorials</a>
                        </li>
                        <li>
                            <a href="https://docs.nexosis.com/clients">API Clients</a>
                        </li>
                        <li>
                            <a href="https://developers.nexosis.com/docs/services/98847a3fbbe64f73aa959d3cededb3af/">API Reference</a>
                        </li>
                        <li>
                            <a href="https://content.nexosis.com/release-notes">Release Notes</a>
                        </li>
                        <li>
                            <a href="https://support.nexosis.com" target="_blank">Help</a>
                        </li>
                        <li>
                            <a href="https://community.nexosis.com" target="_blank">Community</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
                    <h4>Stay in touch</h4>
                    <ul class="footer-nav social">
                        <li>
                            <a href="https://nexosis.com/Home/Contact" target="_blank">
                                <i class="fa fa-envelope fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/Nexosis" target="_blank">
                                <i class="fa fa-twitter fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/9479559" target="_blank">
                                <i class="fa fa-linkedin fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/nexosis/" target="_blank">
                                <i class="fa fa-facebook fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.slideshare.net/nexosis/" target="_blank">
                                <i class="fa fa-slideshare fa-lg"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/Nexosis/" target="_blank">
                                <i class="fa fa-github fa-lg"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
                    <h4>Newsletter</h4>
                    <div id="hs-footer" class="hs-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <ul class="footer-nav">
                        <li class="small">
                            <a href="https://nexosis.com/company/privacy">Privacy Policy</a>
                        </li>
                        <li class="small">
                            <a href="https://developers.nexosis.com/terms-of-use">Terms of Use</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <div class="copyright text-right">
                        <p>©2018 Nexosis</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/fetch-inject@1.9.1/dist/fetch-inject.umd.min.js">
    </script>
    <script>
        fetchInject(["https://cdn.jsdelivr.net/npm/vega-embed@3.0.0/build/vega-embed.min.js"],
            fetchInject(["https://cdn.jsdelivr.net/npm/vega-lite@2.1.3/build/vega-lite.min.js"],
                fetchInject(['https://cdn.jsdelivr.net/npm/vega@3.0.10/build/vega.min.js'])
            )
        );
        fetchInject(["https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"],
            fetchInject(["https://code.jquery.com/jquery-3.2.1.slim.min.js"]));

        fetchInject(["https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"]);

        fetchInject(['//js.hsforms.net/forms/v2.js']).then(function () {
            hbspt.forms.create({
                css: '',
                portalId: '2307117',
                formId: '5a6dab94-7f9c-4d50-a5d0-9541632e1d84',
                target: '#hs-footer'
            })
        });
    </script>
    <script src="https://use.fontawesome.com/524bb1a518.js" async></script>
</body>

</html>